<html>
  <head>
    <title>OnCampus</title>
    <style>
      table {
          font-family: arial, sans-serif;
          border-collapse: collapse;
          width: 323px;
      }

      td, th {
          border: 1px solid #dddddd;
          text-align: left;
          padding: 8px;
      }

      tr:nth-child(even) {
          background-color: #dddddd;
      }
    </style>
  </head>
  <body>
  <table>
    <tr>
      <th>Name</th>
    </tr>
    {% for person in oncampus %}
    <tr>
      <td>{{ person[0] }}</td>
    </tr>
    {% endfor %}
  </table>
    <p>
      Made with <span style='color:red;'>&hearts;</span> at <a href='http://flatironschool.com'>Flatiron School</a> by <a href='http://github.com/jasondecastro/oncampus'>Jason Decastro</a>
    </p>
  </body>
</html>